:global body {
    background: url("../img/bg-dark1.png") repeat;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}


:global .active {
    color: #FFC400;
    pointer-events: none;
}

