.joke {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: url("../../static/img/chuck-vector-footer.svg") center no-repeat; */
}

.joke__item {
    background: url("../../static/img/bg-red-01.png") repeat;
    width: 100%;
    padding: 30px;
}

.joke__itemWrapper {
    width: 70%;
    margin: 0 auto;
}

.joke__text {
    color: #F8F7F3;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
}

.joke__category {
    color: #F8F7F3;
    font-style: normal;
    text-align: right;
}